* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

button {
  padding: 20px 26px;
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
}

button:hover {
  background-color: rgb(229, 243, 255);
}

.btnSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.btn.active {
  background-color: rgb(204, 232, 255);
}
